<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar entierro</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Editar entierro</h1>
		<form th:action="@{/entierros/actualizar}" th:object="${entierro}" method="post">
			<input type="hidden" th:field="*{identierro}" />
		            <div class="mb-3">
		                <label for="fallecido" class="form-label">Fallecido:</label>
		                <input type="text" id="fallecido" th:field="*{fallecido}" class="form-control" placeholder="Ingrese el nombre del fallecido" required>
		            </div>

		            <div class="mb-3">
		                <label for="fechadedefuncion" class="form-label">Fecha de defuncion:</label>
		                <input type="date" id="fechadedefuncion" th:field="*{fechadedefuncion}" class="form-control" placeholder="Ingrese la fecha de defuncion" required>
		            </div>

		            <div class="mb-3">
		                <label for="nombrecliente" class="form-label">Nombre del cliente:</label>
		                <input type="text" id="nombrecliente" th:field="*{nombrecliente}" class="form-control" placeholder="Ingrese el nombre del cliente" required>
		            </div>

		            <div class="mb-3">
		                <label for="relacion" class="form-label">Relacion:</label>
		                <input type="text" id="relacion" th:field="*{relacion}" class="form-control" placeholder="Ingrese la relacion" required>
		            </div>
					
		            <div class="mb-3">
		                <label for="cajon" class="form-label">Requiere cajon:</label>
		                <select id="cajon" th:field="*{cajon}" class="form-select" required>
		                    <option value="" disabled selected>Seleccione una opción</option>
		                    <option value="roble">Cajon de roble</option>
							<option value="caoba">Cajon de caoba </option>
							<option value="nogal">Cajon de nogal  </option>
							<option value="cerezo">Cajon de cerezo </option>
							<option value="arce">Cajon de arce  </option>
							<option value="olmo">Cajon de olmo   </option>
							<option value="pino">Cajon de pino  </option>
							<option value="álamo">Cajon de álamo   </option>
		                </select>
		            </div>
					<div class="mb-3">
					     <label for="costo" class="form-label">Costo:</label>
					     <input type="text" id="costo" th:field="*{costo}" class="form-control" placeholder="Ingrese el costo" required>
				    </div>
					<div class="mb-3">
					     <label for="fecha" class="form-label">Fecha de entierro:</label>
					     <input type="date" id="fecha" th:field="*{fecha}" class="form-control" placeholder="Ingrese la fecha de entierro" required>
					</div>
            <button type="submit" class="btn btn-primary">Actualizar entierro</button>
            <a class="btn btn-secondary" th:href="@{/entierros/lista}">Cancelar</a>
        </form>
    </div>
</body>
</html>
