<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Producto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Editar Producto</h1>
		<form th:action="@{/productos/actualizar}" th:object="${producto}" method="post">
		    <input type="hidden" th:field="*{idproducto}" />
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" placeholder="Ingrese descripción" required>
            </div>
            <div class="form-group">
                <label for="costounitario">Costo Unitario</label>
                <input type="number" step="0.01" class="form-control" id="costounitario" th:field="*{costounitario}" placeholder="Ingrese costo unitario" required>
            </div>
            <div class="form-group">
                <label for="costoporblister">Costo por Blister</label>
                <input type="number" step="0.01" class="form-control" id="costoporblister" th:field="*{costoporblister}" placeholder="Ingrese costo por blister" required>
            </div>
            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="number" class="form-control" id="stock" th:field="*{stock}" placeholder="Ingrese stock disponible" required>
            </div>
            <div class="form-group">
                <label for="receta">Receta</label>
                <input type="text" class="form-control" id="receta" th:field="*{receta}" placeholder="Ingrese receta" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Producto</button>
            <a class="btn btn-secondary" th:href="@{/productos/lista}">Cancelar</a>
        </form>
    </div>
</body>
</html>
