<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Estudiantes</title>
</head>
<body>
    <h1>Lista de Estudiantes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Especialidad</th>
				<th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medico : ${medicos}">
                <td th:text="${medico.idMedicos}"></td>
                <td th:text="${medico.nombres}"></td>
                <td th:text="${medico.especialidad}"></td>
				<td th:text="${medico.tipo}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/estudiantes/nuevo}">Registrar nuevo estudiante</a>
</body>
</html>