<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
</head>
<body>
    <h2>Registro de Usuario</h2>
    <form th:action="@{/registro}" method="post">
        <div>
            <label>Usuario: <input type="text" name="username" required/></label>
        </div>
        <div>
            <label>Contraseña: <input type="password" name="password" required/></label>
        </div>
        <div>
            <input type="submit" value="Registrarse"/>
        </div>
    </form>
    <a th:href="@{/login}">Volver al login</a>
</body>
</html>